#div_about_me {
    width: 70rem;
    height: 30rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 5px solid #7127BA;
    background-color: #1F1A33;
    padding: 3rem;
    gap: 2rem;
    transition: 0.2s;
}
.div_about_me:hover {
    border-color: #e60073;
}
.about_text {
    width: 60%;
    font-size: 22px;
    text-align: center;
}
#about_img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15% 50% 15% 15%;
    background: linear-gradient(45deg, #f09433, #d62976, #962fbf, #4f5bd5);
    padding: 6px;
    width: 22.5rem;
    height: 22.5rem;
    position: relative;
}
#about_img_fon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15% 50% 15% 15%;
    background: #1F1A33;
    padding: 6px;
    width: 98%;
    height: 97%;
    position: relative;
}
#img_backgr {
    position: absolute;
    bottom: 0px;
    width: 98%;
    height: 30rem;
    display: block;
}

/* ============================================================================================ */

@media (min-width: 769px) and (max-width: 1280px) {
    #div_about_me {
        width: 50rem;
    }
    #about_img {
        width: 22.5rem;
        height: 20rem;
    }
    #img_backgr {
        height: 26rem;
    }
}

/* ============================================================================================= */

@media (max-width: 768px) {

    #div_about_me {
        flex-direction: column;
        width: 16rem;
        height: 30rem;
    }
    #about_img {
        border-radius: 15% 50% 15% 15%;
        width: 12rem;
        height: 12rem;
    }
    #img_backgr {
        height: 16rem;
    }
    .about_text {
        width: 90%;
        font-size: 16px;
    }
}