html, body {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#foot_template {
    font-size: 3vh;
    /* background: linear-gradient(145deg, #190324 0%, #1a0b38 40%, #2c012a 70%, #11101c 100%); */
    background: linear-gradient(145deg, #0d0113 0%, #27073a 40%, #140825 70%, #310357 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 4rem 2rem 4rem;
    border-top: 1px solid #e60073;
    color: #e60073;
    margin-top: 6rem;
}
.p_footer_contact {
    color: #F0E6D6;
    margin-left: 1vw;
}
.foot_div_img {
    width: 8vh;
    height: 8vh;
    border: 0.3vw solid #e60073;
    border-radius: 25%;
    transition: 0.2s;
}
.foot_div_img:hover {
    transform: scale(1.1);
    border-color: #7127BA;
}
#bottom_div_icon {
    margin-right: 3rem;
}
#bottom_copyright_div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottom_copyright_div_second {
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bcd_img {
    width: 4vw;
    height: 4vw;
}

/*----------------------------------------------------------------------------------------------------*/

@media (max-width: 1000px) {
    #foot_template {
        flex-direction: column;
        padding: 1rem 0rem 1rem 0rem;
    }
    #bottom_div_icon {
        margin-top: -1rem;
        margin-right: 0rem;
    }
    .foot_div_img {
        border: 0.6vw solid #e60073;
    }
    #bottom_copyright_div {
        flex-direction: column;
        padding: 0.2rem;
    }
    #bottom_copyright_div_second {
        margin-left: 0vw;
        padding: 0rem 1rem 0rem 1rem;
    }
    #bcd_img {
        width: 8vw;
        height: 8vw;
    }
}