#foot_template {
                width: 80vw;
                height: 20vw;
                margin: auto;
                margin-top: 5vw;
                font-size: 3vh;

                border: 1px solid red;

                display: flex;
            }

.p_footer_contact {
    color: #F0E6D6;
    margin-left: 1vw
}

/*----------------------------------------------------------------------------------------------------*/