#div_head_main {
                display: flex; 
                justify-content: space-evenly; 
                align-items: center; 
                border: 0px solid red;
                height: 100%;
            }
            
header {
                background-color: #1A0B2E;  
                height: 14vh;
                
            }



p {
    
    font-size: 1,5vw;
}


/*
#first_div_card {
            display: flex; 
            justify-content: center;
            align-items: center;
            flex-direction: column;
}

#second_div {
            display: flex; 
            justify-content: center;
}

#thirty_div {
            border: 0px solid green; 
            display: flex; 
            justify-content: center;
}
*/

