body {
            
            font-family: "Comfortaa", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;

            margin: 0;
            padding: 0;
            
} 

button {
    width: 10vw;         
    height: 5vh; 
    font-size: 2vh;
    margin: 0; 
    background: #2C1250;
    
    border: 0.2vh solid #7127BA;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first_div_card {
            display: flex; 
            justify-content: center;
            align-items: center;
            flex-direction: column;
}

#second_div {
            display: flex; 
            justify-content: center;
}

#thirty_div {
            border: 0px solid green; 
            display: flex; 
            justify-content: center;
}

#div_card_img_first {
                margin-left: 10%; 
                width: 10vw; 
                height: 6vw; 
                border: 0px solid #7127BA;
                
}

#div_card_img_second {
            margin-left: 10%; 
            border: 0px solid yellow; 
            height: 100%; 
            width: 100%; 
            display: flex; 
            flex-direction: column; 
            justify-content: space-evenly;
}
        


/*----------------------------------------------------------------------------------------------------*/

a {
    text-decoration: none;
}

p {
    font-size: 1,5vw;
}

/*----------------------------------------------------------------------------------------------------*/

#div_card_img_first {
                margin-left: 10%; 
                width: 10vw; 
                height: 6vw; 
                border: 0px solid #7127BA;
                
}

#div_card_img_second {
            margin-left: 10%; 
            border: 0px solid yellow; 
            height: 100%; 
            width: 100%; 
            display: flex; 
            flex-direction: column; 
            justify-content: space-evenly;
}

#circle_font {
            width: 6vw; 
            height: 2vw; 
            z-index: -1; 
            position: absolute; 
            margin-left: 10%; 
            border-radius: 100%; 
            margin-top: 5vw;
            background-image: radial-gradient(farthest-corner at center, #e60073 0%, transparent 72%);
}

#p_card_first {
                margin-top: 0%; 
                margin-bottom: 0%; 
                font-size: 2vw; 
                border: 0px solid green;
}

#p_card_second {
                margin: 0; 
                border: 0px solid green; 
                font-size: 1vw;
}

#div_cartochka {
    background: linear-gradient(140deg,rgba(101, 8, 135, 0.41) 7%, rgba(37, 16, 67, 1) 34%, rgba(56, 18, 109, 0) 57%, rgba(38, 16, 69, 1) 85%, rgba(25, 6, 52, 0) 100%);
    background: linear-gradient(140deg,rgba(54, 23, 97, 0.41) 0%, rgba(45, 25, 73, 1) 20%, rgba(44, 18, 80, 0) 90%);
    display: flex; 
    border-radius: 5px; 
    width: 30vw; 
    height: 20vh; 
    align-items: center;
    box-shadow: 0 -0.5vh 0px 0 #693B93;
    z-index: -2;
    position: relative;
}

#first_div_card {
            display: flex; 
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            border: 0px solid green;
}

#second_div {
            display: flex; 
            justify-content: center;
            border: 0px solid white;
}

#thirty_div {
            display: flex; 
            justify-content: center;
            border: 0px solid white;
}


/*----------------------------------------------------------------------------------------------------*/

#foot_template {
                border: 0px solid blue;
                width: 70vw;
                height: 10vw;
                margin: auto;
                margin-top: 5vw;
                font-size: 3vh;
            }


/*----------------------------------------------------------------------------------------------------*/


#div_head_main {
                display: flex; 
                justify-content: space-evenly; 
                align-items: center; 
                border: 0px solid red;
                height: 100%;
            }
            
header {
                background-color: #1A0B2E;  
                height: 14vh;
                
            }



p {
    
    font-size: 1,5vw;
}


/*
#first_div_card {
            display: flex; 
            justify-content: center;
            align-items: center;
            flex-direction: column;
}

#second_div {
            display: flex; 
            justify-content: center;
}

#thirty_div {
            border: 0px solid green; 
            display: flex; 
            justify-content: center;
}
*/

/*----------------------------------------------------------------------------------------------------*/