body {

    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    padding: 0;

    background: #0a0412;

    color: #F0E6D6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    font-size: 2vh;
    background: #2C1250;
    border: 2px solid #7127BA;
    border-radius: 26px;
    box-shadow: 0 0.21vw 0.21vw 0 black;
    color: #F0E6D6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0.9rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    margin: 0px 16px 16px 16px;

    transition: 0.2s;
}

button:hover {
    transform: scale(1.1);
    border-color: #e60073;
}

img {
    width: 100%;
    height: 100%;
}

.two_img {
    width: 100%;
    height: 100%;
}

/* ---------------------------- */

#first_div_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-image: url('../img/bakcground_fon.jpeg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 12vw 8vw black;

    border-bottom: 1px solid #e60073;
}

#thirty_div {
    border: px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    z-index: 10;



}

.forth_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: px solid blue
}

#thirty_div_wrap {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    border: px solid red;

    display: grid;
    gap: 40px;
    justify-items: center;
    align-content: center;

    padding: 20px;
}

/* ---------------------------- */

#div_card_img_first {
    margin: 10px;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border: px solid #7127BA;
}

.div_card_thirty {
    margin: 20px;
    min-width: 260px;
    max-width: 300px;
    overflow-wrap: break-word;

    border: px solid yellow;
}

#div_cartochka {
    display: flex;
    border-radius: 28px;
    background: linear-gradient(140deg, rgba(54, 23, 97, 0.41) 0%, rgba(45, 25, 73, 1) 20%, rgba(44, 18, 80, 0.3) 70%, rgba(44, 18, 80, 0.1) 90%);

    flex-direction: column;

    min-width: 20rem;

    align-items: center;
    box-shadow: 0 -0.5vh 0px 0 #693B93;
    transition: 0.2s;
}

#div_cartochka:hover {
    box-shadow: 0 -0.5vh 0 0 #e60073;

}

#div_card_img_second {
    margin-left: 10%;
    border: px solid green;

    margin: 10px;
    display: flex;

    padding: 10px;

    justify-content: center;
    align-items: center;
}

/*----------------------------------------------------------------------------------------------------*/

a {
    text-decoration: none;
}


/*----------------------------------------------------------------------------------------------------*/

#circle_font {
    width: 6vw;
    height: 2vw;
    z-index: -1;
    position: absolute;
    margin-left: 10%;
    border-radius: 100%;
    margin-top: 5vw;
    background-image: radial-gradient(farthest-corner at center, #e60073 0%, transparent 72%);
}

#p_card_first {

    margin-bottom: 0%;
    border: 0px solid green;
    color: #e60073;
}

#p_card_second {
    border: px solid green;
    font-size: 1rem;
    overflow-wrap: break-word;
    line-height: 1.4;
}

#mother_div_cartochka {
    display: flex;
    justify-content: space-evenly;
    margin-top: -1vh;
    gap: 2vw;
    border: px solid red;

}

/*----------------------------------------------------------------------------------------------------*/

#div_head_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px solid red;
    height: 100%;


}


/*----------------------------------------------------------------------------------------------------*/

#glowing_text {
    font-size: 3vw;
    text-align: center;
    text-shadow:
        0 0 0.52vw #fff,
        0 0 1.04vw #fff,
        0 0 1.56vw #763CAC,
        0 0 2.08vw #763CAC,
        0 0 2.60vw #763CAC,
        0 0 3.12vw #763CAC,
        0 0 3.65vw #763CAC;
}

#glowing_text_mini {
    font-size: 1.5vw;
    text-align: center;
    text-shadow:
        0 0 0.52vw #fff,
        0 0 1.04vw #fff,
        0 0 1.56vw #763CAC,
        0 0 2.08vw #763CAC,
        0 0 2.60vw #763CAC,
        0 0 3.12vw #763CAC,
        0 0 3.65vw #763CAC;
}

#img_glowing {

    text-align: center;
    border-radius: 50%;
    /* Скругление углов для создания круга */
    background-image: radial-gradient(farthest-corner at center, #763CAC 0%, transparent 72%);
    width: 6vw;
    height: 2vw;
}

#img_glow_circle {
    text-align: center;
    border-radius: 50%;
    /* Скругление углов для создания круга */
    background-image: radial-gradient(farthest-corner at center, #e60073 0%, transparent 72%);
    width: 40vw;
    height: 45vw;
    z-index: -10;
}

#big_body_div_1 {
    border: px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#mother_div_cartochka {
    display: flex;
    justify-content: space-evenly;
    margin-top: -1vh;
    padding: 0;
    border: 5px solid red;
    width: 80vw;
}



/*---------------------------------------------------------------------------------------------------------------------------------------*/


@media (max-width: 1000px) {
    #thirty_div_wrap {
        grid-template-columns: 1fr;
    }

    #div_card_img_second {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }



}

/*---------------------------------------------------------------------------------------------------------------------------------------*/