.container {
    display: flex;
    width: 1200px;
    height: 600px;
    overflow-x: hidden;
    background-color: red;
    margin-top: 5rem;
    overflow: hidden;
    position: relative;
}

@media (max-width: 1100px) {
    .container {
        width: 600px;
    }
    
}

@media (max-width: 600px) {
    .container {
        width: 360px;
    }
    
}


/* ================================================================ */

.moving-element {
    background-color: coral;
    transition: transform 0.3s ease;
}

.div_but_slider {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    top: 45%;
}

.but_slider {
    width: 120px;
}
