.container {
    display: flex;
    width: 75rem;
    height: 37.5rem;
    overflow-x: hidden;

    margin-top: 5rem;
    overflow: hidden;
    position: relative;

    border-radius: 50px;
    border: 3px solid #7127BA;
}

/* ================================================================ */

.moving-element {
    display: flex;
    transition: transform 0.3s ease;
    margin-left: ;
    width: 300%;

    border: px solid blue;
}

.div_but_slider {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    top: 45%;
}

.but_slider {
    width: 65px;
    height: 65px;
    border-radius: 60px;
    border: 3px solid #7127BA;
    transition: 0.2s;
}

.but_slider:hover {
    transform: scale(1.2);
    border-color: #e60073;
}

.div_slider {
    background-color: rgba(40, 35, 65, 0.7);
    width: 75rem;
    height: 37.5rem;


    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

.div_img {
    width: 20rem;
    height: 24rem;
}

.small_div_slider {
    display: flex;
    flex-direction: row;
    border: px solid red;
    width: 80%;
    justify-content: center;
}

/* ========================================================================= */

@media (max-width: 1100px) {
    .container {
        width: 600px;
    }

    .div_slider {

        border: px solid orange;

        width: 37.5rem;
        height: 37.5rem;
    }

    .small_div_slider {
        flex-direction: column;
        align-items: center;
    }

    .div_img {
        width: 10rem;
        height: 12rem;
        margin-top: 1rem;

        
    }

    

}

/* ========================================================================= */

@media (max-width: 600px) {
    .container {
        width: 336px;
    }

    .div_slider {
        width: 21rem;
    }

    .small_div_slider {
        flex-direction: column;
        align-items: center;
    }

    .div_img {
        width: 4rem;
        height: 5rem;
        margin-top: 1rem;

        
    }

    .img_slider {
        border-radius: 25%;
        border: #7127BA 1px solid;
    }
}



/*

.container {
            width: 100%;
            max-width: 600px;
            overflow: hidden;
            border: 2px solid #333;
            margin: 20px auto;
        }
        .moving-element {
            display: flex;
            transition: transform 0.3s ease;
        }
        .slide {
            flex: 0 0 100%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: bold;
        }
        .slide1 { background: lightgreen; }
        .slide2 { background: lightblue; }
        .slide3 { background: lightcoral; }
        .buttons { text-align: center; }
        button { margin: 5px; padding: 8px 16px; }

*/